[submodule "external/eigen"]
	path = external/eigen
	url = https://github.com/libigl/eigen
[submodule "external/eltopo"]
	path = external/eltopo
	url = https://github.com/tysonbrochu/eltopo
[submodule "external/libigl"]
	path = external/libigl
	url = https://github.com/libigl/libigl.git
[submodule "external/sparseicp"]
	path = external/sparseicp
	url = https://github.com/OpenGP/sparseicp
[submodule "external/cpd"]
	path = external/cpd
	url = https://github.com/gadomski/cpd.git
[submodule "external/fgt"]
	path = external/fgt
	url = https://github.com/gadomski/fgt.git
